.languageSelector {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.8rem;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 0.78rem;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .languageSelector option {
    color:rgba(102, 175, 233) 
  }

  .languageSelector::before {
    content: "🌐";
    font-size: 0.9rem;
  }
  
  .languageSelector:hover {
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  .languageSelector label {
    display: none;
  }
  
  .languageDropdown {
    padding: 4px 10px;
    border-radius: 6px;
    border: 1px solid rgba(200, 200, 200, 0.4);
    background: linear-gradient(to right, #ffffff, #f4faff);
    font-size: 0.8rem;
    font-weight: 500;
    color: #e5ebec;
    cursor: pointer;
    text-align-last: center;
    text-align: center;
    transition: all 0.2s ease;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23024455' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 9px 6px;
    padding-right: 24px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
  }
  
  .languageDropdown:hover,
  .languageDropdown:focus {
    border-color: #e4e5e6cb;
    box-shadow: 0 0 6px rgba(102, 175, 233, 0.3);
    outline: none;
  }
  